@model IEnumerable<Recodetour.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-lg-3  py-4">
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-dark bg-light rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">

                    <h1>Clientes</h1>

                    <p>
                        <a asp-action="Create">Criar Novo</a>
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Rg)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Telefone)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                    @foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Rg)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefone)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Atualizar</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                                </td>
                            </tr>
                    }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
  </div>
